{% extends 'base.html' %}
{% load static %}

{% block title %}Expense Tracker{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'include\header.css' %}">
    <link rel="stylesheet" href="{% static 'include\navigation.css' %}">
    <link rel="stylesheet" href="{% static 'starting_page.css' %}">
    <link rel="stylesheet" href="{% static 'bank_statement.css' %}">
{% endblock css_files %}

{% block content %}
    {% include "header.html" %}
    {% include "navigation.html" %}

    <section>
        <h1>Welcome {{ user }} </h1>
        
        <h2>
            Upload statement to get the statement summary- 
            <a href="{% url 'upload-file' %}">UpdateStatement</a>
        </h2>



        {{ plot_html|safe }}
    </section>
    
{% endblock content %}