{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/javascript; charset=utf-8">

    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" type="text/css" src="{% static "base.css" %}">
    <link rel="stylesheet" type="text/css" src="{% static 'footer.css' %}">
    <link rel="stylesheet" type="text/css" src="{% static 'include\header.css' %}">
    <link rel="stylesheet" type="text/css" src="{% static 'include\navigation.css' %}">

    {% block css_files %}{% endblock css_files %}
    {% block scripts  %}{% endblock scripts  %}
</head>

<body>    
    {% include "header.html" %}
    {% include "navigation.html" %}

    {% block content %}{% endblock content %}
    
    {% include "footer.html" %}
</body>

</html>