{% extends 'base.html' %}
{% load static %}

{% block title %}Expense Tracker{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'include\header.css' %}">
    <link rel="stylesheet" href="{% static 'include\navigation.css' %}">
    <link rel="stylesheet" href="{% static 'generate_app_password.css' %}">

{% endblock css_files %}

{% block content %}
    {% include "header.html" %}
    {% include "navigation.html" %}

    <section id="help">
        <h1>Create app password for Gmail</h1>
        <h3>Steps to Create App password</h3>
        <div>
            <ol>
                <li>Log into your Gmail account.</li>
                <li>Click on your profile picture in the top right corner of the Gmail interface and then click on the “My Account” button.</li>
                <li>On the “My Account” page, click on the “Sign-in & security” tab.</li>
                <li>Scroll down to the “App passwords” section and click “Generate”.</li>
                <li>Select the app you want to create a password for and click “Generate”.</li>
                <li>You will then be presented with your app password. Make sure to copy the password and store it in a secure location.</li>
                <li>Use the app password to log in to the app.</li>
            </ol>
        </div>
    </section>
{% endblock content %}
