{% extends 'base.html' %}
{% load static %}

{% block title %}Expense Tracker{% endblock %}

{% block css_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'starting_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'no_statement.css' %}">
{% endblock css_files %}

{% block content %}

    <section>
        <h1 id="heading1">Monthly Credit & Debit View</h1>
        {{ plot_html|safe }}
    </section>
    <section>
        <h1 id="heading1">Monthly PiChart</h1>
        <form method="GET" >
            {% csrf_token %}
            <label for="month">Select Month:</label>
                <select name="month">
                    <option value="{{ month_option }}">{{ month_option }}</option>
                    {% for month in months %}
                        <option value="{{ month }}">{{ month }}</option>
                    {% endfor %}
                </select>
            <label for="detailed_view">Detailed View:</label>
            <label class="switch">
                <input type="checkbox" name="detailed_view" id="detailed_view" {% if detailed_view %}checked{% endif %}>
                <span class="slider round"></span>
            </label>    
            <button type="submit">Filter</button>
        </form>
        <div class="container">
            <div class="credit-view">
                {{ credit_pie|safe }}
            </div>
            <div class="debit-view">
                {{ debit_pie|safe }}
            </div>
        </div>

    </section>

{% endblock content %}


