{% extends 'base.html' %}
{% load static %}

{% block title %}Expense Tracker{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'include\header.css' %}">
    <link rel="stylesheet" href="{% static 'include\navigation.css' %}">
    <link rel="stylesheet" href="{% static 'starting_page.css' %}">
    <link rel="stylesheet" href="{% static 'bank_statement.css' %}">
{% endblock css_files %}

{% block content %}
    {% include "header.html" %}
    {% include "navigation.html" %}

    <section>
        <h1 id="heading1">Monthly Credit & Debit View</h1>
        {{ plot_html|safe }}
    </section>
    <section>
        <h1 id="heading1">Monthly PiChart</h1>
        <form method="GET" >
            <label for="month">Select Month:</label>
                <select name="month">
                    <option value="{{ month_option }}">{{ month_option }}</option>
                    {% for month in months %}
                        <option value="{{ month }}">{{ month }}</option>
                    {% endfor %}
                </select>
            <button type="submit">Filter</button>
        </form>
        <div class="container">
            <div class="credit-view">
                {{ credit_pie|safe }}
            </div>
            <div class="debit-view">
                {{ debit_pie|safe }}
            </div>
        </div>

    </section>
{% endblock content %}


