{% extends 'base.html' %}
{% load static %}

{% block title %}Expense Tracker{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'include\header.css' %}">
    <link rel="stylesheet" href="{% static 'include\navigation.css' %}">
    <link rel="stylesheet" href="{% static 'starting_page.css' %}">
{% endblock css_files %}

{% block content %}
    {% include "header.html" %}
    {% include "navigation.html" %}

    <section>
        <h1>Parsing Statement</h1>
        <h2>Goto home for Summary</h2>
        <h2>Goto statement for filters on statement</h2>
        
    </section>
{% endblock content %}


